<!--Menu Navbar-->
<nav class="navbar navbar-color">
    <div class="container d-flex justify-content-start">
        <a class="nav__link" href="/">Home</a>
        <a class="nav__link" href="/perguntar">Perguntar</a>
    </div>
</nav>